/* import bootstrap*/
@import "~bootstrap/scss/bootstrap";
/* fine import bootastap*/

/*common*/

#app {
}


a {
    text-decoration: none;
}

.new-container {
    width: 1600px;
}

$maincolor: white;