/* import bootstrap*/
@import "~bootstrap/scss/bootstrap";
/* fine import bootastap*/

/*import font*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@700&display=swap');
.secondFont{
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 700;
}
/*fine iport font*/


/*common*/


a {
    text-decoration: none;
}

.new-container {
    width: 1600px;
}


.line {
    width: 50px;
    height: 2px;
    margin-right: 20px;
    background-color: #39FFBF;
    display: inline-block;
}

.Primarybutton {
    height: 65px;
    width: 230px;
    border: none;
    background-color: #39FFBF;

    &:hover{
        background-color: #f81d39;
        color: white;
        transition: 0.4s;
    }
}

$buttonColor: #39FFBF;

$aColor: #AAAAAA;

$mainTitlecolor: white;

$principalBackground: #1F1E38